dip-proxy-ws/src/wsdl/dipws.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- 
 !===========================================================================
 ! $HeadURL::                                                               $
 ! $Id::                                                                    $
 ! Version: $Rev::                                                          $
 !===========================================================================
 !
 ! Dip Web Services:  dxf service
 !
 !======================================================================= -->
                                                                           
 <definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
              targetNamespace="http://mbi.ucla.edu/dip/dbservice/dxf" 
              xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
              xmlns:dsv="http://dip.doe-mbi.ucla.edu/services" 
              xmlns:dxf="http://dip.doe-mbi.ucla.edu/services/dxf14" 
              xmlns:dip="http://mbi.ucla.edu/dip/dbservice/dxf" 
              xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
              xmlns:xs="http://www.w3.org/2001/XMLSchema">	   
  <types>

   <xs:schema targetNamespace="http://mbi.ucla.edu/dip/dbservice/dxf"
         attributeFormDefault="unqualified" elementFormDefault="qualified">

    <xs:import namespace="http://dip.doe-mbi.ucla.edu/services"
               schemaLocation="services.xsd"/>

    <xs:import namespace="http://dip.doe-mbi.ucla.edu/services/dxf14"
               schemaLocation="DXF1.4.xsd"/>
     
    <xs:element name="query">
     <xs:annotation>
      <xs:documentation>query</xs:documentation>
     </xs:annotation>
     <xs:complexType>
      <xs:sequence>
       <xs:element name="query"  type="xs:string"/>
       <xs:element name="type"   type="xs:string"/>
       <xs:element name="detail" type="xs:string" default="stub" />
       <xs:element name="format" type="xs:string" default="dxf"  />
      </xs:sequence>
     </xs:complexType>
    </xs:element> 

    <xs:element name="getLink">
     <xs:annotation>
      <xs:documentation>Get Link</xs:documentation>
     </xs:annotation>
     <xs:complexType>
      <xs:sequence>
       <xs:element name="ns"     type="xs:string" default="dip" />
       <xs:element name="ac"     type="xs:string"/>
       <xs:element name="match"  type="xs:string" default="exact"/>
       <xs:element name="detail" type="xs:string" default="stub" />
       <xs:element name="format" type="xs:string" default="dxf"  />
      </xs:sequence>
     </xs:complexType>
    </xs:element>

    <xs:element name="setLink">
     <xs:annotation>
      <xs:documentation>Set Link</xs:documentation>
     </xs:annotation>
     <xs:complexType>
      <xs:sequence>
       <xs:element name="dataset" type="dxf:datasetType" minOccurs="1" />
       <xs:element name="forceupdate" type="xs:boolean" default="false"/>
      </xs:sequence>
     </xs:complexType>
    </xs:element>

    <xs:element name="getNode">
     <xs:annotation>
      <xs:documentation>Get Node</xs:documentation>
     </xs:annotation>
     <xs:complexType>
      <xs:sequence>
       <xs:element name="ns"     type="xs:string" default="dip" />
       <xs:element name="ac"     type="xs:string"/>
       <xs:element name="match"  type="xs:string" default="exact"/>
       <xs:element name="detail" type="xs:string" default="stub" />
       <xs:element name="format" type="xs:string" default="dxf"  />
      </xs:sequence>
     </xs:complexType>
    </xs:element> 
      
    <xs:element name="setNode">
     <xs:annotation>
      <xs:documentation>Set Node</xs:documentation>
     </xs:annotation>
     <xs:complexType>
      <xs:sequence> 
       <xs:element name="dataset" type="dxf:datasetType" minOccurs="1" />
       <xs:element name="forceupdate" type="xs:boolean" default="false"/>	 
      </xs:sequence>  
     </xs:complexType> 
    </xs:element> 
     
    <xs:element name="getCvTerm">
     <xs:annotation>
      <xs:documentation>Get CV term </xs:documentation>
     </xs:annotation>
     <xs:complexType>
      <xs:sequence>
       <xs:element name="dbname" type="xs:string"/>	  
       <xs:element name="ns" type="xs:string"/>
       <xs:element name="ac" type="xs:string"/>
       <xs:element name="acversion" type="xs:string" default=""/>
       <xs:element name="name" type="xs:string" default="" />
       <xs:element name="is_obsolete" type="xs:int" default="0"/>
      </xs:sequence>
     </xs:complexType>
    </xs:element> 
      
    <xs:element name="addCvTerm">
     <xs:annotation>
      <xs:documentation>Add CV term </xs:documentation>
     </xs:annotation>
     <xs:complexType>
      <xs:sequence>
       <xs:element name="forceupdate" type="xs:boolean" default="false"/>		
       <xs:element name="dbname" type="xs:string"/>
       <xs:element name="ns" type="xs:string"/>	    
       <xs:element name="ac" type="xs:string"/>
       <xs:element name="acversion" type="xs:string" default=""/>
       <xs:element name="name" type="xs:string" default="" />
       <xs:element name="definition" type="xs:string" default="" />
       <xs:element name="synonymlist" type="xs:string" default=""/>	   
       <xs:element name="relationshiplist" type="xs:string" default=""/> 
       <xs:element name="is_obsolete" type="xs:int" default="0"/>
       <xs:element name="is_relationshiptype" type="xs:int" default="0"/> 
      </xs:sequence>  
     </xs:complexType> 
    </xs:element> 
  </xs:schema>
  </types>
  
  <message name="queryReq">
    <part element="dip:query" name="request"/>
  </message>

  <message name="queryRes">
    <part element="dxf:dataset" name="response"/>
  </message>  

  <message name="getLinkReq">
   <part element="dip:getLink" name="request"/>
  </message>

  <message name="getLinkRes">
   <part element="dxf:dataset" name="response"/>
  </message>

  <message name="setLinkReq">
   <part element="dip:setLink" name="request" />
  </message>
	       	       
  <message name="setLinkRes">
   <part element="dxf:dataset" name="response"/>
  </message>

  <message name="getNodeReq">
   <part element="dip:getNode" name="request"/>
  </message>

  <message name="getNodeRes">
   <part element="dxf:dataset" name="response"/>
  </message>

  <message name="setNodeReq">
   <part element="dip:setNode" name="request" /> 
  </message>

  <message name="setNodeRes">
   <part element="dxf:dataset" name="response"/>
  </message>

  <message name="getCvTermReq">
   <part element="dip:getCvTerm" name="request"/>
  </message>

  <message name="getCvTermRes">
   <part element="dxf:dataset" name="response" /> 
  </message>

  <message name="addCvTermReq">
   <part element="dip:addCvTerm" name="request"/>
  </message>

  <message name="addCvTermRes">
   <part element="dxf:dataset" name="response"/>
  </message>

  <message name="dipDbFault">
   <part element="dsv:serviceFault" name="fault"/>
  </message>
		
  <portType name="DipDxfPortType">
	  
   <operation name="query">
    <input  message="dip:queryReq"/>
    <output message="dip:queryRes"/>
    <fault name="queryFault" message="dip:dipDbFault"/>
   </operation>  

   <operation name="getLink">
    <input  message="dip:getLinkReq"/>
    <output message="dip:getLinkRes"/>
    <fault name="getLinkFault" message="dip:dipDbFault"/>
   </operation>

   <operation name="setLink">
    <input  message="dip:setLinkReq"/>
    <output message="dip:setLinkRes"/>
    <fault name="setLinkFault" message="dip:dipDbFault"/>
   </operation>
	  
   <operation name="getNode">
    <input  message="dip:getNodeReq"/>
    <output message="dip:getNodeRes"/>
    <fault name="getNodeFault" message="dip:dipDbFault"/>
   </operation>

   <operation name="setNode">
    <input  message="dip:setNodeReq"/>
    <output message="dip:setNodeRes"/>
    <fault name="setNodeFault" message="dip:dipDbFault"/>
   </operation>

   <operation name="getCvTerm">
    <input  message="dip:getCvTermReq"/>
    <output message="dip:getCvTermRes"/>
    <fault name="getCvTermFault" message="dip:dipDbFault"/>
   </operation>

   <operation name="addCvTerm">
    <input  message="dip:addCvTermReq"/>
    <output message="dip:addCvTermRes"/>
    <fault name="addCvTermFault" message="dip:dipDbFault"/>
   </operation>

  </portType>

  <binding name="DipDxfBinding" type="dip:DipDxfPortType">

   <soap:binding style="document" 
      transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="query">
     <soap:operation 
        soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/query"/>
     <input><soap:body use="literal"/></input>
     <output><soap:body use="literal"/></output>
     <fault name="queryFault">
      <soap:fault name="queryFault" use="literal"/>
     </fault>			    
    </operation>  

    <operation name="getLink">
     <soap:operation 
        soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getLink"/>
     <input><soap:body use="literal"/></input>
     <output><soap:body use="literal"/></output>
     <fault name="getLinkFault">
      <soap:fault name="getLinkFault" use="literal"/>
     </fault>
    </operation>

    <operation name="setLink">
     <soap:operation 
        soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/setLink"/>
     <input><soap:body use="literal"/></input>
     <output><soap:body use="literal"/></output>
     <fault name="setLinkFault">
      <soap:fault name="setLinkFault" use="literal"/>
     </fault>
    </operation>

    <operation name="getNode">
     <soap:operation 
        soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getNode"/>
     <input><soap:body use="literal"/></input>
     <output><soap:body use="literal"/></output>
     <fault name="getNodeFault">
      <soap:fault name="getNodeFault" use="literal"/>
     </fault>			    
    </operation>

    <operation name="setNode">
     <soap:operation 
        soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/setNode"/>
     <input><soap:body use="literal"/></input>
     <output><soap:body use="literal"/></output>
     <fault name="setNodeFault">
      <soap:fault name="setNodeFault" use="literal"/>
     </fault>	
    </operation>

    <operation name="getCvTerm">
     <soap:operation 
        soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getCvterm"/>
     <input><soap:body use="literal"/></input>
     <output><soap:body use="literal"/></output>
     <fault name="getCvTermFault">
      <soap:fault name="getCvTermFault" use="literal"/>
     </fault>
    </operation>

    <operation name="addCvTerm">
     <soap:operation 
        soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/addCvterm"/>
     <input><soap:body use="literal"/></input>
     <output><soap:body use="literal"/></output>
     <fault name="addCvTermFault">
      <soap:fault name="addCvTermFault" use="literal"/>
     </fault>
    </operation>

  </binding>

  <service name="dipDxfService">
   <port binding="dip:DipDxfBinding" name="DipDxfPort">
     <soap:address  location=""/>
   </port>
  </service>

</definitions>
