dip-proxy-api/src/main/NcbiService14.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- #==================================================================
     # $Id:: NcbiService14.wsdl 62 2008-04-07 18:39:58Z lukasz         $
     # Version: $Rev:: 62                                              $
     #==================================================================
     # MBI Web Services: NCBI access
     #
     #================================================================== -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:xs="http://www.w3.org/2001/XMLSchema"

             targetNamespace="http://mbi.ucla.edu/services/ncbi" 
    	     xmlns:ncbi="http://mbi.ucla.edu/services/ncbi" 
	         xmlns:dxf="http://dip.doe-mbi.ucla.edu/services/dxf14" > 
    <types>

        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
                   targetNamespace="http://mbi.ucla.edu/services/ncbi"> 
            <xs:import namespace="http://dip.doe-mbi.ucla.edu/services/dxf14"
                   schemaLocation="DXF1.4.xsd"/> 
 
            <xs:element name="getPubmedArticle">
                <xs:annotation>
            	    <xs:documentation>Get Pubmed article citation</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ns"     type="xs:string" default="pmid" />
                        <xs:element name="ac"     type="xs:string"/>
                        <xs:element name="match"  type="xs:string" default="exact"/>
                        <xs:element name="detail" type="xs:string" default="stub" />
                        <xs:element name="format" type="xs:string" default="dxf"  />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getRefseq">
                <xs:annotation>
            	    <xs:documentation>Get RefSeq record</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ns"     type="xs:string" default="refseq" />
                        <xs:element name="ac"     type="xs:string"/>
                        <xs:element name="match"  type="xs:string" default="exact"/>
                        <xs:element name="detail" type="xs:string" default="stub" />
                        <xs:element name="format" type="xs:string" default="dxf"  />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getGene">
                <xs:annotation>
                    <xs:documentation>Get Entrez Gene record</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ns"     type="xs:string" default="entrezgene" />
                        <xs:element name="ac"     type="xs:string"/>
                        <xs:element name="match"  type="xs:string" default="exact"/>
                        <xs:element name="detail" type="xs:string" default="stub" />
                        <xs:element name="format" type="xs:string" default="dxf"  />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getTaxon">
                <xs:annotation>
                    <xs:documentation>Get Taxonomy record</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ns"     type="xs:string" default="taxonomy" />
                        <xs:element name="ac"     type="xs:string"/>
                        <xs:element name="match"  type="xs:string" default="exact"/>
                        <xs:element name="detail" type="xs:string" default="stub" />
                        <xs:element name="format" type="xs:string" default="dxf"  />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="serviceFailedException">
                <xs:annotation>
	                <xs:documentation>Exception if something goes wrong</xs:documentation>
                </xs:annotation>
                <xs:complexType>
	                <xs:sequence>
	                    <xs:element name="message"     type="xs:string"/>
	                </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>

    <message name="getPubmedArticleReq">
        <part element="ncbi:getPubmedArticle" name="request"/>
    </message>

    <message name="getRefseqReq">
        <part element="ncbi:getRefseq" name="request"/>
    </message>

    <message name="getGeneReq">
        <part element="ncbi:getGene" name="request"/>
    </message>

    <message name="getTaxonReq">
        <part element="ncbi:getTaxon" name="request"/>
    </message>


    <message name="getPubmedArticleRes">
        <part element="dxf:dataset" name="response"/>
    </message>


    <message name="getRefseqRes">
        <part element="dxf:dataset" name="response"/>
    </message>

    <message name="getGeneRes">
        <part element="dxf:dataset" name="response"/>
    </message>

    <message name="getTaxonRes">
        <part element="dxf:dataset" name="response"/>
    </message>


    <message name="getNcbiFault">
        <part element="ncbi:serviceFailedException" name="fault"/>
    </message>
		
    <portType name="NcbiPublicPortType">

        <operation name="getPubmedArticle">
            <input  message="ncbi:getPubmedArticleReq"/>
            <output message="ncbi:getPubmedArticleRes"/>
            <fault name="getNcbiFault" message="ncbi:getNcbiFault"/>
        </operation>

        <operation name="getRefseq">
            <input  message="ncbi:getRefseqReq"/>
            <output message="ncbi:getRefseqRes"/>
            <fault name="getNcbiFault" message="ncbi:getNcbiFault"/>
        </operation>

        <operation name="getGene">
            <input  message="ncbi:getGeneReq"/>
            <output message="ncbi:getGeneRes"/>
            <fault name="getNcbiFault" message="ncbi:getNcbiFault"/>
        </operation>

        <operation name="getTaxon">
            <input  message="ncbi:getTaxonReq"/>
            <output message="ncbi:getTaxonRes"/>
            <fault name="getNcbiFault" message="ncbi:getNcbiFault"/>
        </operation>

    </portType>

    <binding name="NcbiPublicBinding" type="ncbi:NcbiPublicPortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="getPubmedArticle">
            <soap:operation 
	            soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getPubmedArticle"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="getNcbiFault">
                <soap:fault name="getNcbiFault" use="literal"/>
            </fault>			    
        </operation>

        <operation name="getRefseq">
            <soap:operation 
	            soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getRefseq"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="getNcbiFault">
                <soap:fault name="getNcbiFault" use="literal"/>
            </fault>
        </operation>

        <operation name="getGene">
            <soap:operation 
	            soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getGene"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="getNcbiFault">
                <soap:fault name="getNcbiFault" use="literal"/>
            </fault>
        </operation>

        <operation name="getTaxon">
            <soap:operation 
	            soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getTaxon"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
            <fault name="getNcbiFault">
                <soap:fault name="getNcbiFault" use="literal"/>
            </fault>
        </operation>

    </binding>

    <service name="ncbiPublic">
        <port binding="ncbi:NcbiPublicBinding" name="public">
            <!-- <soap:address location="http://dip.doe-mbi.ucla.edu:50606/axis2/services/ncbi"/> -->
            <!-- <soap:address location="http://elion.mbi.ucla.edu:5000/ProxyWS/services/ncbiPublic"/>  -->
            <soap:address location="http://bayes.mbi.ucla.edu:5000/ProxyWS/services/ncbiPublic"/>  
        </port>
    </service>

</definitions>
