dip-proxy-api/src/wsdl/DhtService14.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- #==================================================================
     # $Id::                                                           $
     # Version: $Rev::                                                 $
     #==================================================================
     #
     # MBI Web Services: DhtService - distributed proxy status
     #
     #================================================================== -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://mbi.ucla.edu/proxy/dht" 
             xmlns:dht="http://mbi.ucla.edu/proxy/dht" 
             xmlns:dsv="http://dip.doe-mbi.ucla.edu/services"
             xmlns:dxf="http://dip.doe-mbi.ucla.edu/services/dxf14" >
 <types>
  <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
             targetNamespace="http://mbi.ucla.edu/proxy/dht">

   <xs:import namespace="http://dip.doe-mbi.ucla.edu/services/dxf14"
              schemaLocation="DXF1.4.xsd"/>
   <xs:import namespace="http://dip.doe-mbi.ucla.edu/services"
              schemaLocation="services.xsd"/>

   <xs:element name="setDhtConfig">
    <xs:annotation>
     <xs:documentation>set distributed hash configuration</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element ref="dxf:dataset" />
     </xs:sequence>
    </xs:complexType>
   </xs:element>

   <xs:element name="getDhtRecord">
    <xs:annotation>
     <xs:documentation>Get DHT record</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="provider" type="xs:string" />
      <xs:element name="service" type="xs:string" />
      <xs:element name="ns" type="xs:string" />
      <xs:element name="ac" type="xs:string" />
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   
   <xs:element name="result">
    <xs:annotation>
     <xs:documentation>proxy response</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element ref="dxf:dataset" />
     </xs:sequence>
    </xs:complexType>
   </xs:element>

  </xs:schema>
 </types>


 <message name="getDhtConfigReq"/>

 <message name="getDhtConfigRes">
  <part element="dht:result" name="response"/>
 </message>


 <message name="setDhtConfigReq">
  <part element="dht:setDhtConfig" name="request"/>
 </message>

 <message name="setDhtConfigRes">
  <part element="dht:result" name="response"/>
 </message>

 <message name="getDhtRecordReq">
  <part element="dht:getDhtRecord" name="request"/>
 </message>

 <message name="getDhtRecordRes">
  <part element="dht:result" name="response"/>
 </message>

 <message name="dhtFault">
  <part element="dsv:serviceFault" name="fault"/>
 </message>

 <portType name="DhtProxyPortType">

  <operation name="getDhtConfig">
   <input  message="dht:getDhtConfigReq"/>
   <output message="dht:getDhtConfigRes"/>
   <fault name="getDhtConfigFault" message="dht:dhtFault"/>
  </operation>

  <operation name="setDhtConfig">
   <input  message="dht:setDhtConfigReq"/>
   <output message="dht:setDhtConfigRes"/>
   <fault name="setDhtConfigFault" message="dht:dhtFault"/>
  </operation>

  <operation name="getDhtRecord">
   <input  message="dht:getDhtRecordReq"/>
   <output message="dht:getDhtRecordRes"/>
   <fault name="getDhtRecordFault" message="dht:dhtFault"/>
  </operation>
 </portType>

 <binding name="DhtProxyBinding" type="dht:DhtProxyPortType">

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

  <operation name="getDhtConfig">
   <soap:operation 
	    soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getDhtConfig"/> 
   <input><soap:body use="literal"/></input>
   <output><soap:body use="literal"/></output>
   <fault name="getDhtConfigFault">
    <soap:fault name="getDhtConfigFault" use="literal"/>
   </fault>
  </operation>

  <operation name="setDhtConfig">
   <soap:operation 
	    soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/setDhtConfig"/> 
   <input><soap:body use="literal"/></input>
   <output><soap:body use="literal"/></output>
   <fault name="setDhtConfigFault">
    <soap:fault name="setDhtConfigFault" use="literal"/>
   </fault>
  </operation>

  <operation name="getDhtRecord">
   <soap:operation 
	    soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getDhtRecord"/> 
   <input><soap:body use="literal"/></input>
   <output><soap:body use="literal"/></output>
   <fault name="getDhtRecordFault">
    <soap:fault name="getDhtRecordFault" use="literal"/>
   </fault>
  </operation>

 </binding>

 <service name="DhtProxyService">
  <port binding="dht:DhtProxyBinding" name="proxyPort">
   <soap:address location=""/>
  </port>
 </service>

</definitions>
