dip-proxy-api/src/wsdl/EbiService14.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- #==================================================================
     # $Id::                                                           $
     # Version: $Rev::                                                 $
     #==================================================================
     # MBI Web Services: EBI access
     #
     #================================================================== -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://mbi.ucla.edu/proxy/ebi" 
             xmlns:ebi="http://mbi.ucla.edu/proxy/ebi"
	     xmlns:dsv="http://dip.doe-mbi.ucla.edu/services"
             xmlns:dxf="http://dip.doe-mbi.ucla.edu/services/dxf14" >
 <types>
  <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
             targetNamespace="http://mbi.ucla.edu/proxy/ebi">

   <xs:import namespace="http://dip.doe-mbi.ucla.edu/services/dxf14"
              schemaLocation="DXF1.4.xsd"/>

   <xs:import namespace="http://dip.doe-mbi.ucla.edu/services"
              schemaLocation="services.xsd"/>
 
   <xs:element name="getUniprot">
    <xs:annotation>
     <xs:documentation>Get Uniprot record</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="ns" type="xs:string" default="uniprot" />
      <xs:element name="ac" type="xs:string" />
      <xs:element name="match" type="xs:string" default="exact" />
      <xs:element name="detail" type="xs:string" default="stub" />
      <xs:element name="format" type="xs:string" default="dxf" />
      <xs:element name="client" type="xs:string" default="" minOccurs="0" />
      <xs:element name="depth" type="xs:int" default="0" minOccurs="0" />
     </xs:sequence>
    </xs:complexType>
   </xs:element>

   <xs:element name="getPicrList">
    <xs:annotation>
     <xs:documentation>Get PICR mapping</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="ns" type="xs:string" default="uniprot" />
      <xs:element name="ac" type="xs:string" />
      <xs:element name="match" type="xs:string" default="exact" />
      <xs:element name="detail" type="xs:string" default="stub" />
      <xs:element name="format" type="xs:string" default="dxf" />
      <xs:element name="client" type="xs:string" default="" minOccurs="0" />
      <xs:element name="depth" type="xs:int" default="0" minOccurs="0" />
     </xs:sequence>
    </xs:complexType>
   </xs:element>
   
   <xs:element name="result">
    <xs:annotation>
     <xs:documentation>proxy response</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="timestamp" type="xs:dateTime" />
      <xs:element ref="dxf:dataset"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="nativerecord" type="xs:string" minOccurs="0" maxOccurs="1"/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>

  </xs:schema>
 </types>

 <message name="getUniprotReq">
  <part element="ebi:getUniprot" name="request"/>
 </message>

 <message name="getUniprotRes">
  <part element="ebi:result" name="response"/>
 </message>

 <message name="getPicrListReq">
  <part element="ebi:getPicrList" name="request"/>
 </message>

 <message name="getPicrListRes">
  <part element="ebi:result" name="response"/>
 </message>

 <message name="ebiFault">
  <part element="dsv:serviceFault" name="fault"/>
 </message>


 <portType name="EbiProxyPortType">

  <operation name="getUniprot">
   <input  message="ebi:getUniprotReq"/>
   <output message="ebi:getUniprotRes"/>
   <fault name="getUniprotFault" message="ebi:ebiFault"/>
  </operation>

  <operation name="getPicrList">
   <input  message="ebi:getPicrListReq"/>
   <output message="ebi:getPicrListRes"/>
   <fault name="getPicrListFault" message="ebi:ebiFault"/>
  </operation>

 </portType>

 <binding name="EbiProxyBinding" type="ebi:EbiProxyPortType">

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

  <operation name="getUniprot">
   <soap:operation 
	    soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getUniprot"/> 
   <input><soap:body use="literal"/></input>
   <output><soap:body use="literal"/></output>
   <fault name="getUniprotFault">
    <soap:fault name="getUniprotFault" use="literal"/>
   </fault>
  </operation>

  <operation name="getPicrList">
   <soap:operation 
	   soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getPicrList"/>
   <input><soap:body use="literal"/></input>
   <output><soap:body use="literal"/></output>
   <fault name="getPicrListFault">
    <soap:fault name="getPicrListFault" use="literal"/>
   </fault>			  
  </operation>

 </binding>

 <service name="EbiProxyService">
  <port binding="ebi:EbiProxyBinding" name="proxyPort">
   <soap:address location=""/>
  </port>
 </service>

</definitions>
