dip-proxy-api/src/wsdl/ProxyService14.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- #==================================================================
     # $Id::                                                           $
     # Version: $Rev::                                                 $
     #==================================================================
     # MBI Web Services: NCBI access
     #
     #================================================================== -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://mbi.ucla.edu/proxy" 
    	     xmlns:proxy="http://mbi.ucla.edu/proxy" 
             xmlns:dipfault="http://dip.doe-mbi.ucla.edu/fault"
	         xmlns:dxf="http://dip.doe-mbi.ucla.edu/services/dxf14" > 
 <types>

  <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
       targetNamespace="http://mbi.ucla.edu/proxy"> 

   <xs:import namespace="http://dip.doe-mbi.ucla.edu/fault"
       schemaLocation="Fault.xsd"/> 

   <xs:import namespace="http://dip.doe-mbi.ucla.edu/services/dxf14"
       schemaLocation="DXF1.4.xsd"/> 
 
   <xs:element name="getRecord">
    <xs:annotation>
     <xs:documentation>Get Record From Service</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="provider" type="xs:string" />
      <xs:element name="service" type="xs:string"/>
      <xs:element name="ns" type="xs:string" default="nlmid" />
      <xs:element name="ac" type="xs:string"/>
      <xs:element name="match" type="xs:string" default="exact"/>
      <xs:element name="detail" type="xs:string" default="stub" />
      <xs:element name="format" type="xs:string" default="dxf"  />
      <xs:element name="client" type="xs:string" default="" minOccurs="0" />
      <xs:element name="depth" type="xs:int" default="0" minOccurs="0" />
     </xs:sequence>
    </xs:complexType>
   </xs:element>

  <xs:element name="result">
    <xs:annotation>
     <xs:documentation>proxy response</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="timestamp" type="xs:dateTime" />
      <xs:element ref="dxf:dataset"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="nativerecord" type="xs:string" minOccurs="0" maxOccurs="1"/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
  </xs:schema>
 </types>

 <message name="getRecordReq">
  <part element="proxy:getRecord" name="request"/>
 </message>

 <message name="getRecordRes">
  <part element="proxy:result" name="response"/>
 </message>

 <message name="proxyFault">
  <part element="dipfault:serviceFault" name="fault"/>
 </message>
		
 <portType name="ProxyPortType">

  <operation name="getRecord">
   <input message="proxy:getRecordReq"/>
   <output message="proxy:getRecordRes"/>
   <fault name="getProxyFault" message="proxy:proxyFault"/>
  </operation>

 </portType>

 <binding name="ProxyBinding" type="proxy:ProxyPortType">

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

  <operation name="getRecord">
   <soap:operation 
    soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getRecord"/>
   <input><soap:body use="literal"/></input>
   <output><soap:body use="literal"/></output>
   <fault name="getProxyFault">
    <soap:fault name="getProxyFault" use="literal"/>
   </fault>
  </operation>

 </binding>

 <service name="ProxyService">
  <port binding="proxy:ProxyBinding" name="proxyPort">
   <soap:address location=""/>  
  </port>
 </service>

</definitions>
